		<td colspan="9" class="row">
			<div id="event_outcomes_expected_table-id-<%%VALUE(id)%%>" class="event_outcomes_expected_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_outcomes_expected_table-event_lookup-caption field-caption-tv">Event Details</dt>
					<dd id="event_outcomes_expected_table-event_lookup-<%%VALUE(id)%%>" class="event_outcomes_expected_table-event_lookup text-bold"><%%VALUE(event_lookup)%%></dd>

					<dt class="event_outcomes_expected_table-target_audience-caption field-caption-tv">Target audience</dt>
					<dd id="event_outcomes_expected_table-target_audience-<%%VALUE(id)%%>" class="event_outcomes_expected_table-target_audience text-bold"><%%VALUE(target_audience)%%></dd>

					<dt class="event_outcomes_expected_table-expected_outcomes-caption field-caption-tv">Expected outcomes</dt>
					<dd id="event_outcomes_expected_table-expected_outcomes-<%%VALUE(id)%%>" class="event_outcomes_expected_table-expected_outcomes text-bold"><%%VALUE(expected_outcomes)%%></dd>

					<dt class="event_outcomes_expected_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="event_outcomes_expected_table-created_by-<%%VALUE(id)%%>" class="event_outcomes_expected_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_outcomes_expected_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="event_outcomes_expected_table-created_at-<%%VALUE(id)%%>" class="event_outcomes_expected_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="event_outcomes_expected_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="event_outcomes_expected_table-last_updated_by-<%%VALUE(id)%%>" class="event_outcomes_expected_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="event_outcomes_expected_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="event_outcomes_expected_table-last_updated_at-<%%VALUE(id)%%>" class="event_outcomes_expected_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="event_outcomes_expected_table-outcomes_expected_str-caption field-caption-tv">Outcomes expected str</dt>
					<dd id="event_outcomes_expected_table-outcomes_expected_str-<%%VALUE(id)%%>" class="event_outcomes_expected_table-outcomes_expected_str text-bold"><%%VALUE(outcomes_expected_str)%%></dd>

				</dl>
			</div>
		</td>
