		<td colspan="11" class="row">
			<div id="event_table-id-<%%VALUE(id)%%>" class="event_table-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_table-event_name-caption field-caption-tv">Event name</dt>
					<dd id="event_table-event_name-<%%VALUE(id)%%>" class="event_table-event_name"><%%SELECT%%><%%VALUE(event_name)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-participants-caption field-caption-tv">Participants</dt>
					<dd id="event_table-participants-<%%VALUE(id)%%>" class="event_table-participants"><%%SELECT%%><%%VALUE(participants)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-venue-caption field-caption-tv">Venue</dt>
					<dd id="event_table-venue-<%%VALUE(id)%%>" class="event_table-venue"><%%SELECT%%><%%VALUE(venue)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-event_from_date-caption field-caption-tv">Event from date</dt>
					<dd id="event_table-event_from_date-<%%VALUE(id)%%>" class="event_table-event_from_date"><%%SELECT%%><%%VALUE(event_from_date)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-event_to_date-caption field-caption-tv">Event to date</dt>
					<dd id="event_table-event_to_date-<%%VALUE(id)%%>" class="event_table-event_to_date"><%%SELECT%%><%%VALUE(event_to_date)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="event_table-created_by-<%%VALUE(id)%%>" class="event_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="event_table-created_at-<%%VALUE(id)%%>" class="event_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="event_table-last_updated_by-<%%VALUE(id)%%>" class="event_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="event_table-last_updated_at-<%%VALUE(id)%%>" class="event_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="event_table-event_str-caption field-caption-tv">Event str</dt>
					<dd id="event_table-event_str-<%%VALUE(id)%%>" class="event_table-event_str"><%%SELECT%%><%%VALUE(event_str)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
