		<td colspan="14" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_decision_table-id-caption field-caption-tv">ID</dt>
					<dd id="event_decision_table-id-<%%VALUE(id)%%>" class="event_decision_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-outcomes_expected_lookup-caption field-caption-tv">Expected Outcomes of Meeting</dt>
					<dd id="event_decision_table-outcomes_expected_lookup-<%%VALUE(id)%%>" class="event_decision_table-outcomes_expected_lookup"><%%SELECT%%><%%VALUE(outcomes_expected_lookup)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-decision_description-caption field-caption-tv">Decision description</dt>
					<dd id="event_decision_table-decision_description-<%%VALUE(id)%%>" class="event_decision_table-decision_description"><%%SELECT%%><%%VALUE(decision_description)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-decision_actor-caption field-caption-tv">Decision actor</dt>
					<dd id="event_decision_table-decision_actor-<%%VALUE(id)%%>" class="event_decision_table-decision_actor"><%%SELECT%%><%%VALUE(decision_actor)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-action_taken_with_date-caption field-caption-tv">Action taken with date</dt>
					<dd id="event_decision_table-action_taken_with_date-<%%VALUE(id)%%>" class="event_decision_table-action_taken_with_date"><%%SELECT%%><%%VALUE(action_taken_with_date)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-decision_status-caption field-caption-tv">Decision status</dt>
					<dd id="event_decision_table-decision_status-<%%VALUE(id)%%>" class="event_decision_table-decision_status"><%%SELECT%%><%%VALUE(decision_status)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-decision_status_update_date-caption field-caption-tv">Decision status update date</dt>
					<dd id="event_decision_table-decision_status_update_date-<%%VALUE(id)%%>" class="event_decision_table-decision_status_update_date"><%%SELECT%%><%%VALUE(decision_status_update_date)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_decision_table-decision_status_remarks_by_superior-caption field-caption-tv">Decision status remarks by superior</dt>
					<dd id="event_decision_table-decision_status_remarks_by_superior-<%%VALUE(id)%%>" class="event_decision_table-decision_status_remarks_by_superior"><%%SELECT%%><%%VALUE(decision_status_remarks_by_superior)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="event_decision_table-created_by-<%%VALUE(id)%%>" class="event_decision_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="event_decision_table-created_at-<%%VALUE(id)%%>" class="event_decision_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="event_decision_table-last_updated_by-<%%VALUE(id)%%>" class="event_decision_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="event_decision_table-last_updated_at-<%%VALUE(id)%%>" class="event_decision_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-tenant_id-caption field-caption-tv">Tenant ID</dt>
					<dd id="event_decision_table-tenant_id-<%%VALUE(id)%%>" class="event_decision_table-tenant_id text-right"><%%SELECT%%><%%VALUE(tenant_id)%%><%%ENDSELECT%%></dd>

					<dt class="event_decision_table-event_decision_str-caption field-caption-tv">Event decision str</dt>
					<dd id="event_decision_table-event_decision_str-<%%VALUE(id)%%>" class="event_decision_table-event_decision_str"><%%SELECT%%><%%VALUE(event_decision_str)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
