		<td colspan="12" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_participants_table-id-caption field-caption-tv">ID</dt>
					<dd id="event_participants_table-id-<%%VALUE(id)%%>" class="event_participants_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="event_participants_table-event_lookup-caption field-caption-tv">Event</dt>
					<dd id="event_participants_table-event_lookup-<%%VALUE(id)%%>" class="event_participants_table-event_lookup text-bold"><%%VALUE(event_lookup)%%></dd>

					<dt class="event_participants_table-name-caption field-caption-tv">Name</dt>
					<dd id="event_participants_table-name-<%%VALUE(id)%%>" class="event_participants_table-name text-bold"><%%VALUE(name)%%></dd>

					<dt class="event_participants_table-designation-caption field-caption-tv">Designation</dt>
					<dd id="event_participants_table-designation-<%%VALUE(id)%%>" class="event_participants_table-designation text-bold"><%%VALUE(designation)%%></dd>

					<dt class="event_participants_table-participant_type-caption field-caption-tv">Participant type</dt>
					<dd id="event_participants_table-participant_type-<%%VALUE(id)%%>" class="event_participants_table-participant_type text-bold"><%%VALUE(participant_type)%%></dd>

					<dt class="event_participants_table-accepted_status-caption field-caption-tv">Accepted status</dt>
					<dd id="event_participants_table-accepted_status-<%%VALUE(id)%%>" class="event_participants_table-accepted_status text-bold"><%%VALUE(accepted_status)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="event_participants_table-status_date-caption field-caption-tv">Status date</dt>
					<dd id="event_participants_table-status_date-<%%VALUE(id)%%>" class="event_participants_table-status_date text-bold"><%%VALUE(status_date)%%></dd>

					<dt class="event_participants_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="event_participants_table-created_by-<%%VALUE(id)%%>" class="event_participants_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="event_participants_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="event_participants_table-created_at-<%%VALUE(id)%%>" class="event_participants_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="event_participants_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="event_participants_table-last_updated_by-<%%VALUE(id)%%>" class="event_participants_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="event_participants_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="event_participants_table-last_updated_at-<%%VALUE(id)%%>" class="event_participants_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="event_participants_table-event_participants_str-caption field-caption-tv">Event participants str</dt>
					<dd id="event_participants_table-event_participants_str-<%%VALUE(id)%%>" class="event_participants_table-event_participants_str text-bold"><%%VALUE(event_participants_str)%%></dd>

				</dl>
			</div>
		</td>
