		<td colspan="8" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_agenda_table-id-caption field-caption-tv">ID</dt>
					<dd id="meetings_agenda_table-id-<%%VALUE(id)%%>" class="meetings_agenda_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_agenda_table-meeting_lookup-caption field-caption-tv">Meeting</dt>
					<dd id="meetings_agenda_table-meeting_lookup-<%%VALUE(id)%%>" class="meetings_agenda_table-meeting_lookup"><%%SELECT%%><%%VALUE(meeting_lookup)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_agenda_table-agenda_description-caption field-caption-tv">Agenda description</dt>
					<dd id="meetings_agenda_table-agenda_description-<%%VALUE(id)%%>" class="meetings_agenda_table-agenda_description"><%%SELECT%%><%%VALUE(agenda_description)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_agenda_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="meetings_agenda_table-created_by-<%%VALUE(id)%%>" class="meetings_agenda_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_agenda_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="meetings_agenda_table-created_at-<%%VALUE(id)%%>" class="meetings_agenda_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_agenda_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="meetings_agenda_table-last_updated_by-<%%VALUE(id)%%>" class="meetings_agenda_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_agenda_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="meetings_agenda_table-last_updated_at-<%%VALUE(id)%%>" class="meetings_agenda_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_agenda_table-meetings_agenda_str-caption field-caption-tv">Meetings agenda str</dt>
					<dd id="meetings_agenda_table-meetings_agenda_str-<%%VALUE(id)%%>" class="meetings_agenda_table-meetings_agenda_str"><%%SELECT%%><%%VALUE(meetings_agenda_str)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
