<!-- To change the layout of the detail view form, we recommend using JS code in hooks/meetings_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="meetings_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="meetings_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="meetings_agenda_table_view.php?filterer_meeting_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="meetings_agenda_table_link"><img src="table.gif"> Meeting Agenda - App</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="meetings_agenda_table_view.php?filterer_meeting_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_meetings_agenda_table_link"><img src="table.gif"> Meeting Agenda - App</a>
			<input type="hidden" id="meetings_agenda_table_hclink" value="meetings_agenda_table_view.php?filterer_meeting_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="meetings_participants_table_view.php?filterer_meeting_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="meetings_participants_table_link"><img src="table.gif"> Participants / Speaker / VIP List - App</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="meetings_participants_table_view.php?filterer_meeting_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_meetings_participants_table_link"><img src="table.gif"> Participants / Speaker / VIP List - App</a>
			<input type="hidden" id="meetings_participants_table_hclink" value="meetings_participants_table_view.php?filterer_meeting_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="meetings_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Visiting card details -->
				<div class="form-group meetings_table-visiting_card_lookup">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" data-parent_link="view_parent_modal">Visiting card details</label>
					<div class="col-lg-9">
						<div class="form-control-static">
							<span id="visiting_card_lookup-readonly"><%%COMBOTEXT(visiting_card_lookup)%%></span>
							<%%PLINK(visiting_card_lookup)%%>
						</div>
					</div>
				</div>

				<!-- Field: Event Details -->
				<div class="form-group meetings_table-event_lookup">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" data-parent_link="view_parent_modal">Event Details</label>
					<div class="col-lg-9">
						<div class="form-control-static">
							<span id="event_lookup-readonly"><%%COMBOTEXT(event_lookup)%%></span>
							<%%PLINK(event_lookup)%%>
						</div>
					</div>
				</div>

				<!-- Field: Meeting title -->
				<div class="form-group meetings_table-meeting_title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="meeting_title">Meeting title</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="meeting_title" id="meeting_title" value="<%%VALUE(meeting_title)%%>">
					</div>
				</div>

				<!-- Field: Participants -->
				<div class="form-group meetings_table-participants">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="participants">Participants</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="participants" id="participants" rows=" 5"><%%VALUE(participants)%%></textarea>
					</div>
				</div>

				<!-- Field: Venue -->
				<div class="form-group meetings_table-venue">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="venue">Venue</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="venue" id="venue" value="<%%VALUE(venue)%%>">
					</div>
				</div>

				<!-- Field: Meeting from date -->
				<div class="form-group meetings_table-meeting_from_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="meeting_from_date-dd">Meeting from date</label>
					<div class="col-lg-9">
						<%%COMBO(meeting_from_date)%%>
					</div>
				</div>

				<!-- Field: Meeting to date -->
				<div class="form-group meetings_table-meeting_to_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="meeting_to_date-dd">Meeting to date</label>
					<div class="col-lg-9">
						<%%COMBO(meeting_to_date)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="meetings_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="meetings_table-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#meetings_table_dv_container-loading').addClass('hidden');
			$j('#meetings_table_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('meetings_table', 'meeting_title');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'meetings_table',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'meetings_table-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'meetings_table',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			meetings_tableUniqueFields.forEach(fieldName => enforce_uniqueness('meetings_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=meetings_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=meetings_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var meetings_tableUniqueFields = [
		];
	</script>