		<td colspan="12" class="row">
			<div id="meetings_table-id-<%%VALUE(id)%%>" class="meetings_table-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_table-meeting_title-caption field-caption-tv">Meeting title</dt>
					<dd id="meetings_table-meeting_title-<%%VALUE(id)%%>" class="meetings_table-meeting_title"><%%SELECT%%><%%VALUE(meeting_title)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-participants-caption field-caption-tv">Participants</dt>
					<dd id="meetings_table-participants-<%%VALUE(id)%%>" class="meetings_table-participants"><%%SELECT%%><%%VALUE(participants)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-venue-caption field-caption-tv">Venue</dt>
					<dd id="meetings_table-venue-<%%VALUE(id)%%>" class="meetings_table-venue"><%%SELECT%%><%%VALUE(venue)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-meeting_from_date-caption field-caption-tv">Meeting from date</dt>
					<dd id="meetings_table-meeting_from_date-<%%VALUE(id)%%>" class="meetings_table-meeting_from_date"><%%SELECT%%><%%VALUE(meeting_from_date)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-meeting_to_date-caption field-caption-tv">Meeting to date</dt>
					<dd id="meetings_table-meeting_to_date-<%%VALUE(id)%%>" class="meetings_table-meeting_to_date"><%%SELECT%%><%%VALUE(meeting_to_date)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="meetings_table-created_by-<%%VALUE(id)%%>" class="meetings_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="meetings_table-created_at-<%%VALUE(id)%%>" class="meetings_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="meetings_table-last_updated_by-<%%VALUE(id)%%>" class="meetings_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="meetings_table-last_updated_at-<%%VALUE(id)%%>" class="meetings_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-meetings_str-caption field-caption-tv">Meetings str</dt>
					<dd id="meetings_table-meetings_str-<%%VALUE(id)%%>" class="meetings_table-meetings_str"><%%SELECT%%><%%VALUE(meetings_str)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_table-tenant_id-caption field-caption-tv">Tenant ID</dt>
					<dd id="meetings_table-tenant_id-<%%VALUE(id)%%>" class="meetings_table-tenant_id text-right"><%%SELECT%%><%%VALUE(tenant_id)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
