<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Meeting -->
		<div class="form-group meetings_participants_table-meeting_lookup" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Meeting</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="meeting_lookup-readonly<%%RND1%%>"><%%COMBOTEXT(meeting_lookup)%%></span></div>
			</div>
		</div>
		<!-- Field: Name -->
		<div class="form-group meetings_participants_table-name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(name)%%></div>
			</div>
		</div>
		<!-- Field: Designation -->
		<div class="form-group meetings_participants_table-designation" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Designation</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(designation)%%></div>
			</div>
		</div>
		<!-- Field: Participant type -->
		<div class="form-group meetings_participants_table-participant_type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Participant type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(participant_type)%%></div>
			</div>
		</div>
		<!-- Field: Accepted status -->
		<div class="form-group meetings_participants_table-accepted_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Accepted status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(accepted_status)%%></div>
			</div>
		</div>
		<!-- Field: Status date -->
		<div class="form-group meetings_participants_table-status_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Status date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(status_date)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
