		<td colspan="11" class="row">
			<div id="meetings_table-id-<%%VALUE(id)%%>" class="meetings_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_table-meeting_title-caption field-caption-tv">Meeting title</dt>
					<dd id="meetings_table-meeting_title-<%%VALUE(id)%%>" class="meetings_table-meeting_title text-bold"><%%VALUE(meeting_title)%%></dd>

					<dt class="meetings_table-participants-caption field-caption-tv">Participants</dt>
					<dd id="meetings_table-participants-<%%VALUE(id)%%>" class="meetings_table-participants text-bold"><%%VALUE(participants)%%></dd>

					<dt class="meetings_table-venue-caption field-caption-tv">Venue</dt>
					<dd id="meetings_table-venue-<%%VALUE(id)%%>" class="meetings_table-venue text-bold"><%%VALUE(venue)%%></dd>

					<dt class="meetings_table-meeting_from_date-caption field-caption-tv">Meeting from date</dt>
					<dd id="meetings_table-meeting_from_date-<%%VALUE(id)%%>" class="meetings_table-meeting_from_date text-bold"><%%VALUE(meeting_from_date)%%></dd>

					<dt class="meetings_table-meeting_to_date-caption field-caption-tv">Meeting to date</dt>
					<dd id="meetings_table-meeting_to_date-<%%VALUE(id)%%>" class="meetings_table-meeting_to_date text-bold"><%%VALUE(meeting_to_date)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="meetings_table-created_by-<%%VALUE(id)%%>" class="meetings_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="meetings_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="meetings_table-created_at-<%%VALUE(id)%%>" class="meetings_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="meetings_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="meetings_table-last_updated_by-<%%VALUE(id)%%>" class="meetings_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="meetings_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="meetings_table-last_updated_at-<%%VALUE(id)%%>" class="meetings_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="meetings_table-meetings_str-caption field-caption-tv">Meetings str</dt>
					<dd id="meetings_table-meetings_str-<%%VALUE(id)%%>" class="meetings_table-meetings_str text-bold"><%%VALUE(meetings_str)%%></dd>

				</dl>
			</div>
		</td>
