		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_decision_table-id-caption field-caption-tv">ID</dt>
					<dd id="meetings_decision_table-id-<%%VALUE(id)%%>" class="meetings_decision_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="meetings_decision_table-agenda_lookup-caption field-caption-tv">Agenda of Meeting</dt>
					<dd id="meetings_decision_table-agenda_lookup-<%%VALUE(id)%%>" class="meetings_decision_table-agenda_lookup text-bold"><%%VALUE(agenda_lookup)%%></dd>

					<dt class="meetings_decision_table-decision_description-caption field-caption-tv">Decision description</dt>
					<dd id="meetings_decision_table-decision_description-<%%VALUE(id)%%>" class="meetings_decision_table-decision_description text-bold"><%%VALUE(decision_description)%%></dd>

					<dt class="meetings_decision_table-decision_actor-caption field-caption-tv">Decision actor</dt>
					<dd id="meetings_decision_table-decision_actor-<%%VALUE(id)%%>" class="meetings_decision_table-decision_actor text-bold"><%%VALUE(decision_actor)%%></dd>

					<dt class="meetings_decision_table-action_taken_with_date-caption field-caption-tv">Action taken with date</dt>
					<dd id="meetings_decision_table-action_taken_with_date-<%%VALUE(id)%%>" class="meetings_decision_table-action_taken_with_date text-bold"><%%VALUE(action_taken_with_date)%%></dd>

					<dt class="meetings_decision_table-decision_status-caption field-caption-tv">Decision status</dt>
					<dd id="meetings_decision_table-decision_status-<%%VALUE(id)%%>" class="meetings_decision_table-decision_status text-bold"><%%VALUE(decision_status)%%></dd>

					<dt class="meetings_decision_table-decision_status_update_date-caption field-caption-tv">Decision status update date</dt>
					<dd id="meetings_decision_table-decision_status_update_date-<%%VALUE(id)%%>" class="meetings_decision_table-decision_status_update_date text-bold"><%%VALUE(decision_status_update_date)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_decision_table-decision_status_remarks_by_superior-caption field-caption-tv">Decision status remarks by superior</dt>
					<dd id="meetings_decision_table-decision_status_remarks_by_superior-<%%VALUE(id)%%>" class="meetings_decision_table-decision_status_remarks_by_superior text-bold"><%%VALUE(decision_status_remarks_by_superior)%%></dd>

					<dt class="meetings_decision_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="meetings_decision_table-created_by-<%%VALUE(id)%%>" class="meetings_decision_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="meetings_decision_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="meetings_decision_table-created_at-<%%VALUE(id)%%>" class="meetings_decision_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="meetings_decision_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="meetings_decision_table-last_updated_by-<%%VALUE(id)%%>" class="meetings_decision_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="meetings_decision_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="meetings_decision_table-last_updated_at-<%%VALUE(id)%%>" class="meetings_decision_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="meetings_decision_table-meetings_decision_str-caption field-caption-tv">Meetings decision str</dt>
					<dd id="meetings_decision_table-meetings_decision_str-<%%VALUE(id)%%>" class="meetings_decision_table-meetings_decision_str text-bold"><%%VALUE(meetings_decision_str)%%></dd>

				</dl>
			</div>
		</td>
