		<td colspan="12" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_participants_table-id-caption field-caption-tv">ID</dt>
					<dd id="meetings_participants_table-id-<%%VALUE(id)%%>" class="meetings_participants_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-meeting_lookup-caption field-caption-tv">Meeting</dt>
					<dd id="meetings_participants_table-meeting_lookup-<%%VALUE(id)%%>" class="meetings_participants_table-meeting_lookup"><%%SELECT%%><%%VALUE(meeting_lookup)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-name-caption field-caption-tv">Name</dt>
					<dd id="meetings_participants_table-name-<%%VALUE(id)%%>" class="meetings_participants_table-name"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-designation-caption field-caption-tv">Designation</dt>
					<dd id="meetings_participants_table-designation-<%%VALUE(id)%%>" class="meetings_participants_table-designation"><%%SELECT%%><%%VALUE(designation)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-participant_type-caption field-caption-tv">Participant type</dt>
					<dd id="meetings_participants_table-participant_type-<%%VALUE(id)%%>" class="meetings_participants_table-participant_type"><%%SELECT%%><%%VALUE(participant_type)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-accepted_status-caption field-caption-tv">Accepted status</dt>
					<dd id="meetings_participants_table-accepted_status-<%%VALUE(id)%%>" class="meetings_participants_table-accepted_status"><%%SELECT%%><%%VALUE(accepted_status)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_participants_table-status_date-caption field-caption-tv">Status date</dt>
					<dd id="meetings_participants_table-status_date-<%%VALUE(id)%%>" class="meetings_participants_table-status_date"><%%SELECT%%><%%VALUE(status_date)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="meetings_participants_table-created_by-<%%VALUE(id)%%>" class="meetings_participants_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="meetings_participants_table-created_at-<%%VALUE(id)%%>" class="meetings_participants_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="meetings_participants_table-last_updated_by-<%%VALUE(id)%%>" class="meetings_participants_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="meetings_participants_table-last_updated_at-<%%VALUE(id)%%>" class="meetings_participants_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="meetings_participants_table-meetings_participants_str-caption field-caption-tv">Meetings participants str</dt>
					<dd id="meetings_participants_table-meetings_participants_str-<%%VALUE(id)%%>" class="meetings_participants_table-meetings_participants_str"><%%SELECT%%><%%VALUE(meetings_participants_str)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
