		<td colspan="9" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_agenda_table-id-caption field-caption-tv">ID</dt>
					<dd id="meetings_agenda_table-id-<%%VALUE(id)%%>" class="meetings_agenda_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="meetings_agenda_table-meeting_lookup-caption field-caption-tv">Meeting</dt>
					<dd id="meetings_agenda_table-meeting_lookup-<%%VALUE(id)%%>" class="meetings_agenda_table-meeting_lookup text-bold"><%%VALUE(meeting_lookup)%%></dd>

					<dt class="meetings_agenda_table-agenda_description-caption field-caption-tv">Agenda description</dt>
					<dd id="meetings_agenda_table-agenda_description-<%%VALUE(id)%%>" class="meetings_agenda_table-agenda_description text-bold"><%%VALUE(agenda_description)%%></dd>

					<dt class="meetings_agenda_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="meetings_agenda_table-created_by-<%%VALUE(id)%%>" class="meetings_agenda_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="meetings_agenda_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="meetings_agenda_table-created_at-<%%VALUE(id)%%>" class="meetings_agenda_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="meetings_agenda_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="meetings_agenda_table-last_updated_by-<%%VALUE(id)%%>" class="meetings_agenda_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="meetings_agenda_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="meetings_agenda_table-last_updated_at-<%%VALUE(id)%%>" class="meetings_agenda_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="meetings_agenda_table-meetings_agenda_str-caption field-caption-tv">Meetings agenda str</dt>
					<dd id="meetings_agenda_table-meetings_agenda_str-<%%VALUE(id)%%>" class="meetings_agenda_table-meetings_agenda_str text-bold"><%%VALUE(meetings_agenda_str)%%></dd>

					<dt class="meetings_agenda_table-tenant_id-caption field-caption-tv">Tenant ID</dt>
					<dd id="meetings_agenda_table-tenant_id-<%%VALUE(id)%%>" class="meetings_agenda_table-tenant_id text-right text-bold"><%%VALUE(tenant_id)%%></dd>

				</dl>
			</div>
		</td>
