<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Suggestion -->
		<div class="form-group suggestion-suggestion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Suggestion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(suggestion)%%></div>
			</div>
		</div>
		<!-- Field: Attachment -->
		<div class="form-group suggestion-attachment" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Attachment</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="attachment-link" href="link.php?t=suggestion&f=attachment&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-picture" title="<%%VALUE(attachment)%%>"></i></a><script>$j(function() { var e_attachment = '<%%VALUE(attachment)%%>'; if(e_attachment == '' || e_attachment == '&nbsp;' || e_attachment == 'blank.gif') $j('#attachment-link').hide(); });</script></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
