		<td colspan="18" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="visiting_card_table-id-caption field-caption-tv">ID</dt>
					<dd id="visiting_card_table-id-<%%VALUE(id)%%>" class="visiting_card_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="visiting_card_table-name-caption field-caption-tv">Name</dt>
					<dd id="visiting_card_table-name-<%%VALUE(id)%%>" class="visiting_card_table-name text-bold"><%%VALUE(name)%%></dd>

					<dt class="visiting_card_table-recommended_by-caption field-caption-tv">Recommended by</dt>
					<dd id="visiting_card_table-recommended_by-<%%VALUE(id)%%>" class="visiting_card_table-recommended_by text-bold"><%%VALUE(recommended_by)%%></dd>

					<dt class="visiting_card_table-designation-caption field-caption-tv">Designation</dt>
					<dd id="visiting_card_table-designation-<%%VALUE(id)%%>" class="visiting_card_table-designation text-bold"><%%VALUE(designation)%%></dd>

					<dt class="visiting_card_table-company_name-caption field-caption-tv">Company name</dt>
					<dd id="visiting_card_table-company_name-<%%VALUE(id)%%>" class="visiting_card_table-company_name text-bold"><%%VALUE(company_name)%%></dd>

					<dt class="visiting_card_table-mobile_no-caption field-caption-tv">Mobile no</dt>
					<dd id="visiting_card_table-mobile_no-<%%VALUE(id)%%>" class="visiting_card_table-mobile_no text-bold"><%%VALUE(mobile_no)%%></dd>

					<dt class="visiting_card_table-email-caption field-caption-tv">Email</dt>
					<dd id="visiting_card_table-email-<%%VALUE(id)%%>" class="visiting_card_table-email text-bold"><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></dd>

					<dt class="visiting_card_table-company_website_addr-caption field-caption-tv">Company website address</dt>
					<dd id="visiting_card_table-company_website_addr-<%%VALUE(id)%%>" class="visiting_card_table-company_website_addr text-bold"><%%VALUE(company_website_addr)%%></dd>

					<dt class="visiting_card_table-given_by-caption field-caption-tv">Given by</dt>
					<dd id="visiting_card_table-given_by-<%%VALUE(id)%%>" class="visiting_card_table-given_by text-bold"><%%VALUE(given_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="visiting_card_table-suggested_way_forward-caption field-caption-tv">Suggested way forward</dt>
					<dd id="visiting_card_table-suggested_way_forward-<%%VALUE(id)%%>" class="visiting_card_table-suggested_way_forward text-bold"><%%VALUE(suggested_way_forward)%%></dd>

					<dt class="visiting_card_table-front_img-caption field-caption-tv">Front img</dt>
					<dd id="visiting_card_table-front_img-<%%VALUE(id)%%>" class="visiting_card_table-front_img text-bold"><img src="thumbnail.php?i=<%%VALUE(front_img)%%>&t=visiting_card_table&f=front_img&v=tv" class="img-thumbnail"></dd>

					<dt class="visiting_card_table-back_img-caption field-caption-tv">Back img</dt>
					<dd id="visiting_card_table-back_img-<%%VALUE(id)%%>" class="visiting_card_table-back_img text-bold"><img src="thumbnail.php?i=<%%VALUE(back_img)%%>&t=visiting_card_table&f=back_img&v=tv" class="img-thumbnail"></dd>

					<dt class="visiting_card_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="visiting_card_table-created_by-<%%VALUE(id)%%>" class="visiting_card_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="visiting_card_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="visiting_card_table-created_at-<%%VALUE(id)%%>" class="visiting_card_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="visiting_card_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="visiting_card_table-last_updated_by-<%%VALUE(id)%%>" class="visiting_card_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="visiting_card_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="visiting_card_table-last_updated_at-<%%VALUE(id)%%>" class="visiting_card_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="visiting_card_table-visiting_card_str-caption field-caption-tv">Visiting card str</dt>
					<dd id="visiting_card_table-visiting_card_str-<%%VALUE(id)%%>" class="visiting_card_table-visiting_card_str text-bold"><%%VALUE(visiting_card_str)%%></dd>

					<dt class="visiting_card_table-tenant_id-caption field-caption-tv">Tenant ID</dt>
					<dd id="visiting_card_table-tenant_id-<%%VALUE(id)%%>" class="visiting_card_table-tenant_id text-right text-bold"><%%VALUE(tenant_id)%%></dd>

				</dl>
			</div>
		</td>
